@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import "navbar.css";



* {
  font-family: "Nunito Sans", sans-serif;
}

input {
  font-size: 18px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
