@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import "navbar.css";



h1 {
  font-family: "Nunito Sans", sans-serif;
}

input {
  font-size: 18px;
}

form {
  width: 600px;
  height: 500px;
  padding: 60px 35px 35px 35px;
  border-radius: 15px;
  background: #ffffff;
}

.output {
    font-size: 15px;
    border-radius: 5px;
    margin: 30px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
