@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import "navbar.css";

h1,h2{
  font-family: "Nunito Sans", sans-serif;
}

.aligncenter{
    text-align: center;
}

#gruppebilde{
    width: 30%;
}
