@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import "navbar.css";

/* Visit card list */
div {
  transition: 0.9s all;
}

div:hover {
  transform: scale(1.2);
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
}

.card {
  font-family: 'Nunito Sans', sans-serif;
  width: 600px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  border-radius: 11px;
  box-shadow: 6px 6px 24px #c1c1c1, -6px -6px 24px #ffffff;
}

ul {
  list-style: "- ";
}

.name {
  font-size: 20px;
  text-align: left;
}

li {
  text-align: left;
}

img {
  float: left;
}
